import type { ProxyFactory, SvgChild, VykeElment } from '@vyke/elements/v'
import { {{elements}} } from '../elements';

type {{name}}Props = {
	class: string
}

export function {{name}}(props: {{name}}Props) {
	const {class: className} = props
	return {{code}}
}
